html, body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    line-height: 1.6; 
    color: #323232;
}

.container{
    max-width: 1140px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px; 
    padding-right: 15px; 

    &--fluid{
        max-width: unset; 
        width: 100%; 
    }

    // &--no-padding{
    //     padding: 0; 
    // }
}

.none{
    display: none; 
}
 

