.button{
    display: inline-block; 
    border-radius: 29px;
    padding-left: 37px; 
    padding-right: 37px; 
    font-weight: 700; 
    line-height: 1; 
    transition: background-color 0.5s ease-in; 

    @include button($accent, $height, $width); 

    &:hover{
        background-color: $accent-hover; 
    }
}

.object__button{

    @include button($accent, 58px, 172px);
    padding-top: 20px; 
    margin-top: 20px; 

}