.objects {
    padding-bottom: 90px; 
}
 
.objects-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.objects-text {
    max-width: 543px; 
    padding-left: 181px; 
    
    & .objects__title{
        margin-bottom: 20px; 
    }

    & p{
        margin-bottom: 20px; 
    }

}


