.no-scroll{
    overflow-y: hidden; 
}

.mobile-nav{
    padding: 40px 10px 40px 40px; 
    position: fixed; 
    top: 0; 
    right: -220px;
    width: 220px; 
    height: 100%; 
    z-index: 99;

    background-color: #fff; 
    // transition: all 0.5s ease-in;

    // border: 1px dotted #ff6a00; 
}

.mobile-nav__list{
    display: grid; 
    gap: 20px; 
    text-transform: capitalize;
    padding-top: 20px; 
}


.mobile-nav--open {
	right: 0px;
}

.mobile-nav-fade{
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgb(19 29 34 / 70%);
    opacity: 0;
}

.mobile-nav-fade--open {
	opacity: 1;
	 
}